.footer {
  /* background-color: rgb(35, 228, 218); */
  background-color: rgb(168, 166, 164);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
