.header {
  background-color: rgb(168, 166, 164);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 10px #ccc;
  border-collapse: collapse;
}
